<!DOCTYPE html>
<html>

<head>
  <% include ./../elements/head %>
</head>

<body class="hold-transition sidebar-mini layout-fixed text-sm">
  <div class="wrapper">


    <% include ./../elements/navbar %>
    <% include ./../elements/sidebar %>


    <div class="content-wrapper">

      <% include ./../elements/breadcrumb %>
      <%- body %>

    </div>


  </div>

  <% include ./../elements/footer %>
  <% include ./../elements/script %>

</body>

</html>