<div id="top" class="sa-app__body">
  <img src="images/error/error.jpeg" style="height:100%; width:100%"  alt="">
</div>


<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>

